// bower:scss
// endbower

@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  font-family: 'Raleway', sans-serif;
  > section {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    .content {
      width: 100%; height: 100%;
      max-width: 1170px;
    }
  }
}

.intro {
  height: 1000px;
  .content { background: red; }
}
.about {
  background: #00bcbc;
  height: 700px;
  position: relative;
  overflow: hidden;
  .content {
    display: flex;
    background-image: url("../images/raspberry.png");
    background-repeat: no-repeat;
    @media (max-width: 600px) {
      background-position: center 500px;
    }

    .about-us {
      h1 {
        margin-left: 672px;
        margin-top: 161px;
        margin-bottom: -5px;
        font-size: 5.66rem;
        color: #fff;
      @media (max-width: 600px) {
        margin-top: 50px;
        margin-left: 50px;
        margin-bottom: -5px;
        font-size: 4.5rem;
       }
      }
      p {
            margin-left: 672px;;
            line-height: 25px;
            color: #fff;
      @media (max-width: 600px) {
            margin-left: 300px;;
            margin-left: 50px;


      }
      }
  }
 }
}

.services {
  height: 790px;
  .content { background: blue; }
}
